.venv/
.env
state/*.json
__pycache__/
*.pyc
work/*
!work/.gitkeep
cache/
dist/
old_voicepacks/*
!old_voicepacks/.gitkeep
ready_voicepacks/*
!ready_voicepacks/.gitkeep
official_voicepacks/*
!official_voicepacks/.gitkeep
custom_voicepack/audio/*
!custom_voicepack/audio/.gitkeep
resources/official_voice_ru/*.mp3
*.log
.DS_Store
Thumbs.db
